/* body - The main body of the browser. */
body{
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color:#f8fafc;
}

/*****************************************************************************************************************************/
/*****************************************************************************************************************************/
/* * - All elements in the body. */
*{
    box-sizing: border-box;
}

/*****************************************************************************************************************************/
/*****************************************************************************************************************************/
/* |font section| */
/* @font-face - Roboto font */
@font-face{
    font-family: roboto;
    src: url(../fonts/roboto/Roboto-Regular.ttf);
}


/*****************************************************************************************************************************/
/*****************************************************************************************************************************/
/* |Header Section| */
#title{
    margin: 0 auto;
    margin-top: 40px;
    width: 800px;
    border: 1px solid #fde68a;
    border-radius: 8px;
    box-shadow: 1px 1px 10px -3px black;
    text-align: center;
    letter-spacing: 5px;
    font-size: 25px;
    font-family: roboto, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #fde68a;
}

/*****************************************************************************************************************************/
/*****************************************************************************************************************************/
/* |Reset Button| */
#reset-button-container{
    margin: 0 auto;
    margin-top: 10px;
    width: 800px;
    /* border: 2px solid red; */
    padding: 10px;
    text-align: center;
}

#reset-button-container > button[type="submit"]{
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid #fde68a98;
    padding: 5px 10px 5px 10px;
    background-color: #fde68a98;
}
#reset-button-container > button[type="submit"]:hover{
    background-color: #fde68ae7;
    cursor: pointer;
}

/*****************************************************************************************************************************/
/*****************************************************************************************************************************/
/* |Enter Name Container| */
#enter-name-container{
    margin: 0 auto;
    margin-top: 5px;
    width: 800px;
    /* border: 2px solid red; */
    padding: 10px;
    text-align: center;
}

/* Enter Name Container|Enter Name Button */
#enter-name-button{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid #fde68a98;
    padding: 5px 10px 5px 10px;
    background-color: #fde68a98;  
}
#enter-name-button:hover{
    background-color: #fde68ae7;
    cursor: pointer;
}

/* Enter Name Container|Enter Name Form */
#enter-name-form > div:not(div:nth-child(3)){
    margin-bottom: 12px;
}
#enter-name-form label{
    display: block;
    font-size: 18px;
    font-weight: bold;
}
#enter-name-form input{
    appearance: none;
    border: 1px solid #cbd5e1;
    border-radius: 8px;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
}
#enter-name-form input:focus{
    border: 1px solid #fde68a;
    outline: none;
}
#enter-name-form button{
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid #fde68a98;
    padding: 5px 10px 5px 10px;
    background-color: #fde68a98;
}
#enter-name-form button:hover{
    background-color: #fde68ae7;
    cursor: pointer;
}

/*****************************************************************************************************************************/
/*****************************************************************************************************************************/
/* |Gameboard Section| */
#gameboard{
    margin: 0 auto;
    margin-top: 5px;
    width: 800px;
    /* border: 2px solid red; */
    padding: 10px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
}
#gameboard > div{
    border-radius: 8px;
    border: 2px solid #fbbf24;
    background-color: #fde68a;
    box-shadow: 1px 1px 12px 5px black;
}
.board-unit-color{
    background-color: red;
}

/*****************************************************************************************************************************/
/*****************************************************************************************************************************/
/* |X and O Section| */
/* player-one-x - Player one move. */
.x-and-o{
    display: flex;
    justify-content: center;

    width: 100%;
    height: 100%;
    font-size: 189px;
    /* border: 1px solid black; */
}

/*****************************************************************************************************************************/
/*****************************************************************************************************************************/
/* |Player Turn Section| */
#player-turn-section{
    margin: 0 auto;
    margin-top: 5px;
    /* border: 2px solid red; */
    padding: 10px;
    width: 800px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 5px;
    font-family: roboto, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/*****************************************************************************************************************************/
/*****************************************************************************************************************************/
/* |Game Results Section| */
#game-results-section{
    margin: 0 auto;
    margin-top: 20px;
    /* border: 2px solid red; */
    padding: 10px;
    width: 800px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 5px;
    font-family: roboto, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/*****************************************************************************************************************************/
/*****************************************************************************************************************************/
/* Hide Elements */
.hide-elements{
    display: none;
}

/*****************************************************************************************************************************/
/*****************************************************************************************************************************/
/* Media queries for mobile and tablet devices. */

/* Media-1 - For desktop and tablet devices. */
@media screen and (max-width: 1000px){
    /* Header Section */
    #title{
        width: 90%;
    }

    /* Reset Button */
    #reset-button-container{
        width: 100%;
    }

    /* Enter Name */
    #enter-name-container{
        width: 100%;
    }

    /* Gameboard */
    #gameboard{
        width: 100%;
    }

    /* Player Turn Section */
    #player-turn-section{
        width: 100%;
    }

    /* Game Results Section*/
    #game-results-section{
        width: 100%;
    }
}

/* Media-2 - For mobile devices. */
@media screen and (max-width: 600px){
    /* Header Section */ 
    #title{
        width: 90%;
        font-size: 22px;
    }

    /* Gameboard */
    #gameboard{
        grid-template-rows: repeat(3, 100px);

        width: 100%;
    }

    /* X and O Section */
    .x-and-o{
        font-size: 95px;
    }
}

/* Media-3 - For mobile devices with a smaller viewport. */
@media screen and (max-width: 290px){
    /* Header Section */
    #title{
        font-size: 19px;
    }

    /* Gameboard */
    #gameboard{
        grid-template-rows: repeat(3, 90px);

        width: 100%;
    }

    /* X and O Section */
    .x-and-o{
        font-size: 85px;
    } 
}